<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/release/xstore-bin/lib/dtv-posframework.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="UTF-8"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dtv.pos.framework.StationController"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="xyz_pos"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms128m -Xmx600m -Ddtv.system.properties.location=${workspace_loc:xyz_pos}/dev/local/xstore.properties -Ddtv.pos.screenNumber=1 -Ddtv.util.crypto.SecretKeyCipherManager.keyStoreDirectory=${workspace_loc:xyz_pos}/res/keys -Ddtv.util.crypto.DtvKeyStoreManager.keyStoreDirectory=${workspace_loc:xyz_pos}/res/keys -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager -Ddtv.util.config.ConfigPathPropertySourceImpl=dtv.dev.config.DevConfigPathPropertySource -Ddev.configPath.properties.location=${workspace_loc:xyz_pos}/dev/local"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:xyz_xstore}"/>
</launchConfiguration>
