<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/release/xstore-bin/lib/hardware-service.jar"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oracle.retail.xstore.hardware.service.HardwareServiceClient"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="xyz_hardware-service"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="xyz_hardware-service"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager -Dlog4j.configurationFile=../release/hwserv/hardware-service/config/log4j2.xml -Ddtv.system.properties.location=../xyz_pos/thinclient/xstoredata/xstore/xstore.properties"/>
</launchConfiguration>
